footer {
  height: 20px;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: fixed; 
  bottom: 0; 
  z-index: 9999; 
  background-color: white; 
  width: 376px;
  margin-bottom: 40px;
}

